<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="true"
         verbose= "true">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/*Bundle/Resources</directory>
            <directory>src/*/*Bundle/Resources</directory>
            <directory>src/*/Bundle/*Bundle/Resources</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
<!--            <server name="KERNEL_DIR" value="app/"/>-->
<!--        <server name="KERNEL_CLASS" value="App\Kernel"/>-->
        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test" force="true"/>
<!--        <env name="DATABASE_URL" value="mysql:///%kernel.project_dir%/var/test.db"/>-->
<!--        <env name="BOOTSTRAP_RESET_DATABASE" value="1" />-->
        <env name="DATABASE_URL" value="mysql://root@127.0.0.1:3306/todoco"/>
        <env name="APP_SECRET" value="812772469841467bd02dfcfff6a7699c"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="/foobar/"/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
